<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23864508393-j22ashbrrnuen888v0asim0e7vsmtvmg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23864508393-j22ashbrrnuen888v0asim0e7vsmtvmg</string>
	<key>API_KEY</key>
	<string>AIzaSyC_R2Vdqm2am9xhG6j2r0k56vTckZoeAIs</string>
	<key>GCM_SENDER_ID</key>
	<string>23864508393</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rebeal.clone</string>
	<key>PROJECT_ID</key>
	<string>rebeal-clone</string>
	<key>STORAGE_BUCKET</key>
	<string>rebeal-clone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23864508393:ios:8cf070689475df7c92d578</string>
</dict>
</plist>